{% extends "editor/base.html" %}
{% block main %}
    <section id="VisualOuterDiv">
        <div id="Visual">
            <div id="VisualDiv2">
                {% for section, headers in headings.items %}
                    <label id="SectionLabel{{ forloop.counter }}" class="BroadTitle">{{ section }}</label>
                    {% for subsection, tiers in headers.items %}
                        <div id="SubSection" class="SubSection">
                            <label id="SubSectionLabel{{ section }}" class="SubSectionLabel">{{ subsection }}</label>
                        </div>
                        <div id="Content" class="SubSectionContent">

                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}