{% extends "editor/base.html" %}
{% block main %}
    <section id="VisualOuterDiv">
        <div id="Visual">
            <div id="VisualDiv2">
                {% for section in sections %}
                    <label id="SectionLabel_{{ section.id }}" class="BroadTitle">{{ section.name }}</label>
                    {% for subsection in section.Subsections %}
                        <div id="Subsection_{{ subsection.id }}" class="Subsection closed">
                            <label id="SubsectionLabel_{{ subsection.id }}"
                                   class="SubsectionLabel">{{ subsection.name }}</label>
                        </div>
                        <div id="SubsectionBlockContent_{{ subsection.id }}" class="SubsectionBlockContent closed">
                            {% for blocksub in subsection.BlockSections %}
                                <div id="BlockSubsection_{{ blocksub.id }}" class="BlockSubsection closed">
                                    <label id="BlockSubsectionLabel_{{ blocksub.id }}"
                                           class="BlockSubsectionLabel">{{ blocksub.name }}</label>
                                </div>
                                <div id="BlockSubsectionContent_{{ blocksub.id }}"
                                     class="BlockSubsectionContent closed">
                                    {% for block in blocksub.Blocks %}
                                        <div id="VisualEditorDiv_{{ block.id }}" class="VisualEditorDiv">
                                            <label id="VisualEditorLabel_{{ block.id }}"
                                                   class="VisualEditorLabel">{{ block.name }}</label>
                                            <div id="VisualEditorOuterMainContainer_{{ block.id }}">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div id="VisualEditorShowHideDiv_{{ block.id }}"
                                                         class="VisualEditorShowHideDiv">
                                                        <button id="VisualEditorShow_{{ block.id }}"
                                                                class="VisualEditorShow VisualButton" name="show_{{ block.id }}">Show
                                                        </button>
                                                        <button id="VisualEditorHide_{{ block.id }}"
                                                                class="VisualEditorHide VisualButton" name="hide_{{ block.id }}">Hide
                                                        </button>
                                                    </div>
                                                    <div id="VisualEditorContainerDiv_{{ block.id }}"
                                                         class="VisualEditorContainerDiv">
                                                        <div id="VisualEditor_ComboBoxRight_{{ block.id }}"
                                                             class="VisualEditor_ComboBoxRight">
                                                            <div id="VisualEditor_FontSizeSlider_{{ block.id }}"
                                                                 class="VisualEditor_ComboBoxFontSizeSlider">
                                                                <div id="FontSizeSliderHandle_{{ block.id }}"
                                                                     class="FontSizeSliderHandle VisualButton">36
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <button id="VisualEditor_Copy_{{ block.id }}"
                                                                    class="VisualEditor_ComboBoxRight_Button VisualButton" name="copy_{{ block.id }}">
                                                                Copy
                                                            </button>
                                                            <button id="VisualEditor_Paste_{{ block.id }}"
                                                                    class="VisualEditor_ComboBoxRight_Button VisualButton" name="paste_{{ block.id }}">
                                                                Paste
                                                            </button>
                                                            <button id="VisualEditor_Reset_{{ block.id }}"
                                                                    class="VisualEditor_ComboBoxRight_Button VisualButton" name="reset_{{ block.id }}">
                                                                Reset
                                                            </button>
                                                            <br>
                                                            <input id="VisualEditor_Sound_{{ block.id }}"
                                                                   class="VisualEditor_ComboBoxRight_Button VisualButton"
                                                                   type="button"
                                                                   value="Sound"
                                                                   name="sound_{{ block.id }}">
                                                            <button id="VisualEditor_MapIcon_{{ block.id }}"
                                                                    class="VisualEditor_ComboBoxRight_Button VisualButton"  name="icon_{{ block.id }}">
                                                                Icon
                                                            </button>
                                                            <button id="VisualEditor_MapIcon_{{ block.id }}"
                                                                    class="VisualEditor_ComboBoxRight_Button VisualButton"  name="beam_{{ block.id }}">
                                                                Beam
                                                            </button>
                                                        </div>
                                                        <div id="VisualEditor_ComboBoxLeft_{{ block.id }}"
                                                             class="VisualEditor_ComboBoxLeft">
                                                            <div id="VisualEditor_ComboBoxText_{{ block.id }}"
                                                                 class="VisualEditor_ComboBoxColorPickerDiv">
                                                                <div id="VisualEditor_EnabledTextColor_{{ block.id }}"
                                                                     class="VisualEditor_ComboBoxEnabledColor selectedSocket"></div>
                                                                <label class="VisualEditor_ComboBoxLeftLabel">TX</label>
                                                                <input id="VisualEditor_TextColorPicker_{{ block.id }}"
                                                                       type="text" class="SpectrumColorPicker"
                                                                       style="display: none;" name="color_txt_{{ block.id }}">
                                                                <!--<div class="sp-replacer sp-light">
                                                                    <div class="sp-preview">
                                                                        <div class="sp-preview-inner"></div>
                                                                    </div>
                                                                    <div class="sp-dd">▼</div>
                                                                </div>-->
                                                            </div>
                                                            <div id="VisualEditor_ComboBoxBorder_{{ block.id }}"
                                                                 class="VisualEditor_ComboBoxColorPickerDiv">
                                                                <div id="VisualEditor_EnabledTextColor_{{ block.id }}"
                                                                     class="VisualEditor_ComboBoxEnabledColor selectedSocket"></div>
                                                                <label class="VisualEditor_ComboBoxLeftLabel">BD</label>
                                                                <input id="VisualEditor_BorderColorPicker_{{ block.id }}"
                                                                       class="SpectrumColorPicker"
                                                                       style="display: none;" name="color_brd_{{ block.id }}">
                                                                <!--<div class="sp-replacer sp-light">
                                                                    <div class="sp-preview">
                                                                        <div class="sp-preview-inner"></div>
                                                                    </div>
                                                                    <div class="sp-dd">▼</div>
                                                                </div>-->
                                                            </div>
                                                            <div id="VisualEditor_ComboBoxBackground_{{ block.id }}"
                                                                 class="VisualEditor_ComboBoxColorPickerDiv">
                                                                <div id="VisualEditor_EnabledTextColor_{{ block.id }}"
                                                                     class="VisualEditor_ComboBoxEnabledColor selectedSocket"></div>
                                                                <label class="VisualEditor_ComboBoxLeftLabel">BG</label>
                                                                <input id="VisualEditor_BackgroundColorPicker_{{ block.id }}"
                                                                       class="SpectrumColorPicker"
                                                                       style="display: none;" name="color_bgn_{{ block.id }}">
                                                                <!--<div class="sp-replacer sp-light">
                                                                    <div class="sp-preview">
                                                                        <div class="sp-preview-inner"></div>
                                                                    </div>
                                                                    <div class="sp-dd">▼</div>
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                        <div class="VisualEditorShowCaseDiv">
                                                            <div id="VisualEditor_InnerItem_{{ block.id }}"
                                                                 class="VisualEditor_InnerItem">
                                                                <div id="InnerItemContainer_{{ block.id }}"
                                                                     class="InnerItemContainer">
                                                                    <div id="ItemDiv_{{ block.id }}"
                                                                         class="ItemDiv">
                                                                        <label id="ItemTextLabel_{{ block.id }}"
                                                                               class="ItemTextLabel">Item
                                                                            Name</label>
                                                                        <!--<div id="ItemSocketsDiv_{{ block.id }}" class="ItemSocketsDiv">

                                                                    </div>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <br id="VisualEditorBreak_{{ block.id }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}