{% extends "editor/base.html" %}

{% block theme_containers %}

    <div class="wrapper">
        <div class="container-sections">
            <label class="section">Text</label>
            <div class="container-group">

            </div>
            <label class="section">Background</label>
            <div class="container-group">

            </div>
            <label class="section">Border</label>
            <div class="container-group">

            </div>
        </div>
    </div>

{% endblock %}

