@font-face {
  font-family: 'Fontin';
  src: url("fonts/poefont/Fontin-Regular.ttf") format("truetype"); }

body {
  background: #000 no-repeat top center;
  margin: 0;
  color: #a38d6d;
  font-family: "Fontin"; }

#NavSelectionButtons {
  text-align: center;
  margin: 0 0 15px -25px;
  z-index: 9999999;
  background: #383838 none repeat scroll 0 0;
  white-space: nowrap;
  display: -moz-box; }

.NavSelectionButton {
  display: inline-block;
  padding: 0.4em 1em;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px; }

#ButtonHome {
  border-left: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-width: medium medium 1px;
  border-style: none none solid;
  border-image: none 100% / 1 / 0 stretch; }

#ButtonTheme, #ButtonSettings {
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0; }

#ButtonAbout {
  border-right: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0; }

.NavSelectionButton:hover {
  background-color: #0c1924;
  border-image: none;
  font-size: 17px; }

#mainBody {
  background-color: #0a0a0a;
  width: 910px;
  margin: 25px auto 20px;
  border: 1px solid #a38d6d;
  padding: 25px;
  border-radius: 3px;
  color: #a38d6d;
  min-height: 1200px;
  display: block; }

#VisualOuterDiv {
  color: #a38d6d;
  display: block; }

#Visual {
  color: #a38d6d; }

#VisualDiv2 {
  border-color: #a38d6d;
  border-image-width: 1;
  margin: 0 !important;
  padding: 0 !important; }

.BroadTitle {
  font-size: 36px;
  display: block;
  margin: 18px 0;
  font-weight: 700;
  color: #ce6e27;
  text-align: center;
  border-color: #ce6e27;
  background: #0a0a0a none repeat scroll 0 0;
  padding: 7px;
  letter-spacing: 2px;
  border-style: double none; }

.Subsection:not(.open) {
  margin-bottom: 6px;
  background: #091649 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fec076;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s; }

.Subsection:not(.closed) {
  background: #050505 none repeat scroll 0 0;
  border-radius: 6px 6px 0 0;
  color: #a38d6d;
  cursor: pointer;
  border: 1px solid;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s; }

.Subsection:not(.open):hover {
  background: #091884 none repeat scroll 0 0; }

.SubsectionLabel {
  font-size: 26px;
  display: inline-block;
  margin: 5px 10px 5px 5px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  letter-spacing: 1px; }

.SubsectionBlockContent:not(.open) {
  display: none;
  background-color: #111111;
  border: 1px solid #3a3a3a;
  padding: 0 22px; }

.SubsectionBlockContent:not(.closed) {
  background-color: #111111;
  display: block;
  margin-bottom: 40px;
  padding: 22px;
  border: 1px solid #3a3a3a;
  border-radius: 0 0 6px 6px; }

.BlockSubsection {
  background: #091649 none repeat scroll 0 0;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 8px;
  color: #fec076;
  border-color: transparent;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: border-color 0.5s ease 0s;
  -moz-transition: border-color 0.5s ease 0s;
  -ms-transition: border-color 0.5s ease 0s;
  -o-transition: border-color 0.5s ease 0s;
  transition: border-color 0.5s ease 0s; }

.BlockSubsection:hover {
  background: #091884 none repeat scroll 0 0; }

.BlockSubsectionLabel {
  display: inline-block;
  font-size: 24px;
  margin: 5px 10px 5px 5px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff; }

.BlockSubsectionContent:not(.open) {
  display: none; }

.BlockSubsectionContent:not(.closed) {
  display: block;
  background-color: #1c1c1c;
  padding: 22px;
  margin-bottom: 40px;
  border: 1px solid #3a3a3a;
  border-radius: 0 0 6px 6px; }

.VisualEditorDiv {
  background: #050505 none repeat scroll 0 0;
  border: 1px solid #424242;
  border-radius: 2px;
  margin: 15px 0; }

.VisualEditorLabel {
  font-size: 26px;
  display: block;
  margin: 7px 10px 12px 5px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase; }

.VisualEditorShowHideDiv {
  display: inline-block;
  float: left;
  width: 135px;
  height: 111px;
  text-align: center;
  position: relative; }

.VisualEditorShow, .VisualEditorHide {
  margin: 11px 0;
  width: 90px;
  position: relative;
  display: inline-block;
  background: #1698bf none repeat scroll 0 0;
  padding: 0.4em 1em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 700; }

.VisualEditorContainerDiv {
  position: relative;
  padding: 5px;
  border: 1px solid #a38d6d;
  display: inline-block;
  z-index: 5;
  background: rgba(0, 0, 0, 0) url("assets/img/PoEGround.PNG") no-repeat scroll center top/cover; }

.VisualEditorShowCaseDiv {
  width: 388px;
  height: 98px;
  display: inline-block;
  border-radius: 0 1px 1px 0;
  background-size: 100% auto;
  text-align: center;
  position: relative;
  z-index: 5; }

.VisualEditor_InnerItem {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 1000px;
  max-height: 600px;
  padding: 5px;
  margin: auto 0 auto 31px;
  z-index: 10;
  text-align: center; }

.InnerItemContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.ItemDiv {
  background-color: #4b4b4b;
  display: inline-flex;
  border: 1px solid rgba(150, 150, 150, 0.8);
  padding: 5px;
  position: relative;
  top: 40%;
  text-align: center; }

.ItemTextLabel {
  font-size: 24px;
  color: #888888;
  z-index: 1;
  vertical-align: sub;
  white-space: nowrap;
  text-align: center;
  font-family: Fontin; }

/*.ItemSocketsDiv {

}*/
.VisualEditor_ComboBoxRight {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 10; }

.VisualEditor_ComboBoxLeft {
  display: inline-block;
  float: left;
  width: 88px;
  position: relative;
  z-index: 100; }

.disabledElement {
  pointer-events: none;
  cursor: default;
  opacity: 0.55; }

.VisualEditor_ComboBoxColorPickerDiv {
  margin-bottom: 1px;
  height: 32px; }

.VisualEditor_ComboBoxLeftLabel {
  display: inline-block;
  width: 30px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

.SpectrumColorPicker {
  background: #1a1a1a none repeat scroll 0 0;
  border: 1px solid #a38d6d;
  margin: 2px;
  padding: 4px;
  vertical-align: middle; }

.VisualEditor_ComboBoxEnabledColor {
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 86px;
  margin-top: 1px;
  vertical-align: middle;
  pointer-events: all;
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url("assets/img/icons/socketEnabled.png") no-repeat scroll center top/contain;
  z-index: 5; }

.VisualEditor_ComboBoxRight {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 10;
  color: #a38d6d; }

.VisualEditor_ComboBoxFontSizeSlider {
  background: #000 none repeat scroll 0 0;
  border: 1px solid #a38d6d;
  color: #a38d6d;
  width: 153px;
  margin: 5px 13px 5px 11px !important;
  display: inline-block;
  border-radius: 1px;
  font-size: 1em;
  height: 0.8em;
  position: relative;
  text-align: left; }

.FontSizeSliderHandle {
  left: 66.6667%;
  margin-left: -0.6em;
  position: absolute;
  min-width: 1.2em;
  height: 1.2em;
  touch-action: none;
  z-index: 2;
  text-align: center;
  padding: 3px;
  top: -7px !important;
  font-weight: 700 !important;
  background: #0f2d65 none repeat scroll 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  color: #fff; }

.VisualEditor_ComboBoxRight button, input {
  filter: drop-shadow(2px 2px 6px #000);
  font-size: 13px;
  margin-left: 8px;
  margin-top: 7px;
  padding: 5px;
  width: 51px;
  position: relative;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  background: #0f2965 none repeat scroll 0 0;
  font-weight: 700;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer; }
