$background: #0b1721;
$background-bright: #e3e3e3;
$background-group: #3a2b28;
$foreground: #ddd;
$foreground-bright: #eee;

$border-section-tb: 6px solid #673326;
$border-section-lr: 5px solid #673326;
$border-group: 2px solid #d66b27;

$m-center: 0 auto;
$p-center: 0 auto;

$fs-section: 28px;
$fs-gr-head: 24px;
$fs-gr-ct-head: 20px;

html, body {
  height: 100%;
}

body {
  background-color: #fafafa;
  margin: 0;
}

.menu {
  width: auto;
  background-color: #0c1924;
  text-align: center;
  ul {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    li a {
      text-decoration: none;
      color: #a1abb4;
      font-size: 24px;
      -webkit-transition: 0.15s time;
      -moz-transition: 0.15s time;
      -ms-transition: 0.15s time;
      -o-transition: 0.15s time;
      transition: 0.15s time;
      padding: 0 1rem;
      &:hover {
        color: #e6eeff;
      }
      &.active {
        background-color: #fafafa;
        padding: 0 1rem 7px 1rem;
        &:hover {
          color: $background;
        }
      }
    }
  }
}

.section {
  background-color: $background;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: $fs-section;
  color: $foreground-bright;
  width: 100%;
  margin: $m-center;
  border-top: $border-section-tb;
  border-bottom: $border-section-tb;
  border-left: $border-section-lr;
  border-right: $border-section-lr;
}

#container-content {
  margin: 0 auto;
  width: 95%;
  display: flex;
  border: 5px solid #ddd;
  height: auto;
  flex-direction: column;
  background-color: #15212f;
}

.container-group-holder {
  margin: 1vh 0;
}

.container-group {
  border: $border-group;
  margin: 0.4rem auto;
  display: flex;
  flex-direction: column;
  background-color: $background-bright;
  width: 90%;
}

.group-header {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 1.5rem 1rem;
  font-size: $fs-gr-head;
  background-color: $background;
  color: #c6c8ca;
  cursor: pointer;
}

.container-visual-content {
  display: none;
  width: 95%;
  margin: .2rem auto;
  border: 2px solid #631e18;
  background-color: $background-group;
  color: $foreground;
  padding: $p-center;
  flex-direction: column;
}

.visual-content-header {
  display: flex;
  font-size: $fs-gr-ct-head;
  background-color: #b3b3b3;
  color: #333;
  vertical-align: top;
  width: 100%;
}

button {
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  padding: .4em 1em;
}

.VisualEditorOuterContainer {
  display: inline-block;
  position: relative;
  padding: 5px;
  z-index: 5;
  border: 2px solid #cc0000;
  .VisualEditor_ShowHide {
    float: left;
    width: 135px;
    height: 111px;
    text-align: center;
    .VisualEditor_Show, .VisualEditor_Hide {
      margin: 11px 0;
      width: 90px;
    }
    .VisualEditor_Hide {

    }
  }
  .VisualEditor_Container {
    display: inline-block;
    position: relative;
    padding: 5px;
    z-index: 5;
    .ColorPickersBox {
      display: inline-block;
      float: left;
      width: 84px;
      position: relative;
      z-index: 100;
      .ColorPickerTxt, .ColorPickerBrd, .ColorPickerBrd {
        height: 32px;
        .ColorPickersLabel {
          font-size: 18px;
          width: 30px;
          font-weight: 700;
        }
        .ColorPickerDiv {
          .ps-colorpicker {
            margin: 2px;
            padding: 4px;
            vertical-align: middle;
          }
        }
      }
      .ColorPickerTxt, .ColorPickerBrd {
        margin-bottom: 1px;
      }
    }
    .VisualEditorOptionsRightBox {
      display: inline-block;
      float: right;
      position: relative;
      z-index: 10;
      .VisualEditor_SizeSlider {
        width: 153px;
        margin: 5px 13px 5px 11px !important;
      }
      .VisualEditor_Copy, .VisualEditor_Paste, .VisualEditor_Reset,
      .VisualEditor_Sound, .VisualEditor_Icon, .VisualEditor_Beam {
        padding: 5px;
        width: 51px;
        margin: 0 0 0 8px;
      }
      .VisualEditor_Copy, .VisualEditor_Paste, .VisualEditor_Reset, .VisualEditor_Sound {
        font-size: 13px;
      }
    }
    .Showcase {
      width: 388px;
      height: 98px;
      display: inline-block;
      background: url("assets/img/PoEGround.PNG");
      border-radius: 0 1px 1px 0;
      background-size: 100%;
      text-align: center;
      position: relative;
      z-index: 5;
      .ShowcaseInner {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 1000px;
        max-height: 600px;
        padding: 5px;
        margin: auto 0 auto 31px;
        z-index: 10;
        .ShowcaseItem_Container {
          .ShowcaseItem {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            .ItemBackground {
              display: inline-flex;
              border: 1px solid pink;
              padding: 5px;
              position: relative;
              top: 40%;
              .ItemLabel {
                font-size: 24px;
              }
              .ItemSocketsPreview {
                .ItemSocket {
                  background-color: rgb(202, 13, 50);
                  width: 4px;
                  height: 4px;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}