body {
  background: #000 no-repeat top center;
  margin: 0; }

#NavSelectionButtons {
  text-align: center;
  margin: 0 0 15px -25px;
  z-index: 9999999;
  background: #383838 none repeat scroll 0 0;
  white-space: nowrap;
  display: -moz-box; }

.NavSelectionButton {
  display: inline-block;
  padding: 0.4em 1em;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px; }

#ButtonHome {
  border-left: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-width: medium medium 1px;
  border-style: none none solid;
  border-image: none 100% / 1 / 0 stretch; }

#ButtonTheme, #ButtonSettings {
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0; }

#ButtonAbout {
  border-right: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: #222225 none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0; }

.NavSelectionButton:hover {
  background-color: #0c1924;
  border-image: none;
  font-size: 17px; }

#mainBody {
  background-color: #0a0a0a;
  width: 910px;
  margin: 25px auto 20px;
  border: 1px solid #a38d6d;
  padding: 25px;
  border-radius: 3px;
  color: #a38d6d;
  min-height: 1200px;
  display: block; }

#VisualOuterDiv {
  color: #a38d6d;
  display: block; }

#Visual {
  color: #a38d6d; }

#VisualDiv2 {
  border-color: #a38d6d;
  border-image-width: 1;
  margin: 0 !important;
  padding: 0 !important; }

.BroadTitle {
  font-size: 36px;
  display: block;
  margin: 18px 0;
  font-weight: 700;
  color: #ce6e27;
  text-align: center;
  border-color: #ce6e27;
  background: #0a0a0a none repeat scroll 0 0;
  padding: 7px;
  letter-spacing: 2px;
  border-style: double none; }

.Subsection:not(.open) {
  margin-bottom: 6px;
  background: #091649 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fec076;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s; }

.Subsection:not(.closed) {
  background: #050505 none repeat scroll 0 0;
  border-radius: 6px 6px 0 0;
  color: #a38d6d;
  cursor: pointer;
  border: 1px solid;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s; }

.Subsection:not(.open):hover {
  background: #091884 none repeat scroll 0 0; }

.SubsectionLabel {
  font-size: 26px;
  display: inline-block;
  margin: 5px 10px 5px 5px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  letter-spacing: 1px; }

.SubsectionContent {
  display: none;
  background-color: #111111;
  border: 1px solid #3a3a3a;
  padding: 0 22px; }

.SubsectionContent {
  background-color: #111111;
  display: block;
  margin-bottom: 40px;
  padding: 22px;
  border: 1px solid #3a3a3a;
  border-radius: 0 0 6px 6px; }

.AccordionButtonBlock {
  background: #091649 none repeat scroll 0 0;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 8px;
  color: #fec076;
  border-color: transparent;
  cursor: pointer;
  border: 1px solid;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: border-color 0.5s ease 0s;
  -moz-transition: border-color 0.5s ease 0s;
  -ms-transition: border-color 0.5s ease 0s;
  -o-transition: border-color 0.5s ease 0s;
  transition: border-color 0.5s ease 0s; }

.AccordionButtonBlock:hover {
  background: #091884 none repeat scroll 0 0; }
