body {
  background: #000 no-repeat top center;
  margin: 0;
}

#NavSelectionButtons {
  text-align: center;
  margin: 0 0 15px -25px;
  z-index: 9999999;
  background: rgb(56, 56, 56) none repeat scroll 0 0;
  white-space: nowrap;
  display: -moz-box;
}

.NavSelectionButton {
  display: inline-block;
  padding: 0.4em 1em;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
}

#ButtonHome {
  border-left: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-width: medium medium 1px;
  border-style: none none solid;
  border-image: none 100% / 1 / 0 stretch;
}

#ButtonTheme, #ButtonSettings {
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0;
}

#ButtonAbout {
  border-right: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0;
}

.NavSelectionButton:hover {
  background-color: #0c1924;
  border-image: none;
  font-size: 17px;
}

#mainBody {
  background-color: #0a0a0a;
  width: 910px;
  margin: 25px auto 20px;
  border: 1px solid #a38d6d;
  padding: 25px;
  border-radius: 3px;
  color: #a38d6d;
  min-height: 1200px;
  display: block;
}

#VisualOuterDiv {
  color: #a38d6d;
  display: block;
}

#Visual {
  color: #a38d6d;
}

#VisualDiv2 {
  border-color: #a38d6d;
  border-image-width: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.BroadTitle {
  font-size: 36px;
  display: block;
  margin: 18px 0;
  font-weight: 700;
  color: rgb(206, 110, 39);
  text-align: center;
  border-color: rgb(206, 110, 39);
  background: rgb(10, 10, 10) none repeat scroll 0 0;
  padding: 7px;
  letter-spacing: 2px;
  border-style: double none;
}

.Subsection:not(.open) {
  margin-bottom: 6px;
  background: rgb(9, 22, 73) none repeat scroll 0 0;
  border-radius: 2px;
  color: rgb(254, 192, 118);
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.Subsection:not(.closed) {
  background: rgb(5, 5, 5) none repeat scroll 0 0;
  border-radius: 6px 6px 0 0;
  color: rgb(163, 141, 109);
  cursor: pointer;
  border: 1px solid;
  outline: currentColor none 0;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 16px;
  -webkit-transition: 0.5s ease 0s;
  -moz-transition: 0.5s ease 0s;
  -ms-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.Subsection:not(.open):hover {
  background: rgb(9, 24, 132) none repeat scroll 0 0;
}

.SubsectionLabel {
  font-size: 26px;
  display: inline-block;
  margin: 5px 10px 5px 5px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

// Blocks
.SubsectionBlockContent:not(.open) {
  display: none;
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(58, 58, 58);
  padding: 0 22px;
}

.SubsectionBlockContent:not(.closed) {
  background-color: rgb(17, 17, 17);
  display: block;
  margin-bottom: 40px;
  padding: 22px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 0 0 6px 6px;
}

.BlockSubsection {
  background: rgb(9, 22, 73) none repeat scroll 0 0;
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 8px;
  color: rgb(254, 192, 118);
  border-color: transparent;
  cursor: pointer;
  // border: 1px solid;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: border-color 0.5s ease 0s;
  -moz-transition: border-color 0.5s ease 0s;
  -ms-transition: border-color 0.5s ease 0s;
  -o-transition: border-color 0.5s ease 0s;
  transition: border-color 0.5s ease 0s;
}

.BlockSubsection:hover {
  background: rgb(9, 24, 132) none repeat scroll 0 0;
}

.BlockSubsectionLabel {
  display: inline-block;
  font-size: 24px;
  margin: 5px 10px 5px 5px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}

.BlockSubsectionContent:not(.open) {
  display: none;
}

.BlockSubsectionContent:not(.closed) {
  display: block;
  background-color: rgb(28, 28, 28);
  padding: 22px;
  margin-bottom: 40px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 0 0 6px 6px;
}

.VisualEditorDiv {
  background: rgb(5, 5, 5) none repeat, scroll 0 0;
  padding: 8px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 2px;
  margin: 15px 0;
}

.VisualEditorLabel {
  font-size: 26px;
  display: block;
  margin: 7px 10px 12px 5px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.VisualEditorShowHideDiv {
  display: inline-block;
  float: left;
  width: 135px;
  height: 111px;
  text-align: center;
  position: relative;
}

.VisualEditorShow, .VisualEditorHide {
  margin: 11px 0;
  width: 90px;
  position: relative;
  display: inline-block;
  background: rgb(22, 152, 191) none repeat scroll 0 0;
  padding: 0.4em 1em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.VisualEditorContainerDiv {
  position: relative;
  padding: 5px;
  border: 1px solid rgb(163, 141, 109);
  display: inline-block;
  z-index: 5;
  background: rgba(0, 0, 0, 0) url("assets/img/PoEGround.PNG") no-repeat scroll center top / cover;
}

.VisualEditorShowCaseDiv {
  width: 388px;
  height: 98px;
  display: inline-block;
  border-radius: 0 1px 1px 0;
  background-size: 100% auto;
  text-align: center;
  position: relative;
  z-index: 5;
}

.VisualEditor_ComboBoxRight {
  display: inline-block;
  float: right;
  position: relative;
  z-index: 10;
}

.VisualEditor_ComboBoxLeft {
  display: inline-block;
  float: left;
  width: 84px;
  position: relative;
  z-index: 100;
}

.disabledElement {
  pointer-events: none;
  cursor: default;
  opacity: 0.55;
}

.VisualEditor_ComboBoxColorPickerDiv {
  margin-bottom: 1px;
  height: 32px;
}

.VisualEditor_ComboBoxLeftLabel {
  display: inline-block;
  width: 30px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;

}

.SpectrumColorPicker {
  margin: 2px;
  padding: 4px;
  vertical-align: middle;
}

.VisualEditor_ComboBoxEnabledColor {
  display: inline-block;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 86px;
  margin-top: 1px;
  vertical-align: middle;
  pointer-events: all;
  cursor: pointer;
  background: rgba(0, 0, 0, 0) url("assets/img/Icons/socketActive.png") no-repeat scroll center top / contain;
  z-index: 5;
}