body {
  background: #000 no-repeat top center;
  margin: 0;
}

#NavSelectionButtons {
  text-align: center;
  margin: 0 0 15px -25px;
  z-index: 9999999;
  background: rgb(56, 56, 56) none repeat scroll 0 0;
  white-space: nowrap;
  display: -moz-box;
}

.NavSelectionButton {
  display: inline-block;
  padding: 0.4em 1em;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
}

#ButtonHome {
  border-left: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-width: medium medium 1px;
  border-style: none none solid;
  border-image: none 100% / 1 / 0 stretch;
}

#ButtonTheme, #ButtonSettings {
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0;
}

#ButtonAbout {
  border-right: medium none;
  width: 137px;
  height: 40px;
  margin: 0;
  background: rgb(34, 34, 37) none repeat scroll 0 0;
  border-color: currentcolor;
  border-style: none none solid;
  border-width: medium medium 1px;
  border-image: none 100% / 1 / 0 stretch;
  border-radius: 0;
}

.NavSelectionButton:hover {
  background-color: #0c1924;
  border-image: none;
  font-size: 17px;
}

#mainBody {
  background-color: #0a0a0a;
  width: 910px;
  margin: 25px auto 20px;
  border: 1px solid #a38d6d;
  padding: 25px;
  border-radius: 3px;
  color: #a38d6d;
  min-height: 1200px;
  display: block;
}

#VisualOuterDiv {
  color: #a38d6d;
  display: block;
}

#Visual {
  color: #a38d6d;
}

#VisualDiv2 {
  border-color: #a38d6d;
  border-image-width: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.BroadTitle {
  font-size: 36px;
  display: block;
  margin: 18px 0;
  font-weight: 700;
  color: rgb(206, 110, 39);
  text-align: center;
  border-color: rgb(206, 110, 39);
  background: rgb(10, 10, 10) none repeat scroll 0 0;
  padding: 7px;
  letter-spacing: 2px;
  border-style: double none;
}

.SubSection {
  background: rgb(9, 22, 73) none repeat scroll 0 0;
  border-color: transparent;
  border-radius: 2px;
  color: rgb(254, 192, 118);
}

.SubSection:hover {
  background: rgb(9, 24, 132) none repeat scroll 0 0;
}